.page1-gender-checkboxes {
  margin: 0;
  margin-left: 220px;
}

.gender-man-checkbox {
  margin: 0;
  margin-left: 16px;
}
.do-not-have-id-checkbox {
  margin-left: 220px;
}

@media (max-width: 935px) {
  .do-not-have-id-checkbox {
    margin-left: 0 !important;
  }

  .page1-gender-checkboxes {
    margin-left: 0 !important;
  }
  .photo-upload-container {
    display: block !important;
    /* margin-bottom: 0; */
  }
  .mobile-photo-upload-container {
    margin-bottom: 0;
  }
}

.upload-photo-placeholder-text {
  color: #e4067e;
}
.upload-photo-placeholder-text:hover {
  text-decoration: underline;
  color: #ab055f;
}

.page1-nationality {
  margin-top: 16px;
}
.page1-continue {
  margin-top: 24px;
}

.photo-text {
  width: 220px;
  min-width: 220px;
}

.photo-upload-container {
  display: flex;
  /* align-items: center; */
}

.photo-upload-container input[type="file"]::file-selector-button {
  visibility: hidden;
  height: 0;
}
.photo-upload-container .btn {
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
}

/* no file chosen text */
#upload-photo {
  visibility: hidden;
}
.upload-photo-format-text {
  text-align: left;
}

.page5-remove {
  text-decoration: underline;
  margin-top: 16px;
}

.page1-profile-photo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
