.page1-gender-checkboxes {
  margin: 0;
  margin-left: 220px;
}

.gender-man-checkbox {
  margin: 0;
  margin-left: 16px;
}
.do-not-have-id-checkbox {
  margin-left: 220px;
}

@media (max-width: 935px) {
  .do-not-have-id-checkbox {
    margin-left: 0 !important;
  }

  .page1-gender-checkboxes {
    margin-left: 0 !important;
  }
  .photo-upload-container {
    display: block !important;
  }
}

.page1-nationality {
  margin-top: 16px;
}
.page1-continue {
  margin-top: 24px;
}

.photo-text {
  width: 220px;
  min-width: 220px;
}

.photo-upload-container {
  display: flex;
  align-items: center;
}

.photo-upload-container input[type="file"]::file-selector-button {
  visibility: hidden;
}
.photo-upload-container .btn {
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
}

/* no file chosen text */
#upload-photo {
  visibility: hidden;
}
.upload-photo-format-text {
  text-align: left;
}

.page5-remove {
  text-decoration: underline;
  margin-top: 16px;
}
