.address-selection {
  align-items: center;
  z-index: 999;
}
@media (max-width: 935px) {
  .address-selection {
    flex-direction: column;
    align-items: unset;
  }
  .inads-input-container {
    width: 100% !important;
  }
}

.inads-input {
  height: 40px !important;
  padding: 10px;
  border-radius: 4px;
  gap: 10px;
  border: 1px solid #6e7184;
}
.inads-appartment {
  border: 1px solid #6e7184;
}
.inads-appartment {
  height: 40px !important;
}
.inads-copyright {
  top: 40px;
}

.inads-input-search {
  top: 6px !important;
}
.inads-input-clear {
  top: 8px !important;
}

.inads-input-div {
  width: 300px;
  height: 450px;
  z-index: 9999;
}

.inads-result.searchonly {
  z-index: 99999;
}

.in-ads-form-label {
  margin: 0;
}

.inads-appartment {
  color: black;
}

.inads-input-clear {
  /* Yeni arka plan rengi burada tanımlanıyor */
  /* background-color: black; */
  /* Mevcut arka plan resmini gizlemek için background-image'i sıfırlıyoruz */
}
