.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 140px;
}

.container-content {
  width: calc(100vw - 40%);
  background-color: white;
  margin-top: 24px;
  box-sizing: border-box;
  padding: 24px 42px 24px 42px;
  gap: 32px;
  box-shadow: 6px 6px 20px 0px #0000001a;
}

.container-title-text {
  width: calc(100vw - 40%);
}

.app-form-title-text {
  font-family: ProximaNova-Extrabold;
  font-size: 26px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0em;
  padding-top: 36px;
}
.container-save-button {
  margin-top: 36px;
}

@media (max-width: 935px) {
  .container-content {
    width: 90vw;
  }
  .container-title-text {
    width: 90vw;
  }
  .container-title-text {
    flex-direction: column;
  }
  .container-save-button {
    margin-top: 0px !important;
    width: 170px;
    height: 40px;
    gap: 10px;
  }
  .save-and-leave-text {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }
  .container-content {
    padding: 24px 16px 24px 16px;
  }
}

@media (max-width: 979px) {
  .container-save-button {
    width: 170px;
    height: 40px;
    gap: 10px;
  }
}
