.text-input-label {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 220px;
}

.text-input-required-star {
  margin-left: 4px !important;
}

@media (max-width: 935px) {
  .input-label-container {
    flex-direction: column;
  }
  .text-input-label {
    width: unset;
  }
}

.text-input-selection-component {
  width: 226px;
}

.text-input-selection-component input {
  gap: 10px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #6e7184;
  height: 40px;
}
