@media (max-width: 935px) {
  .phone-number-container {
    align-items: end;
  }
}

.phone-area-input {
  width: 65px;
  z-index: 99999;
}

.phone-area-input input {
  padding-right: 5px !important;
}
.phone-area-input input {
  padding-left: 5px;
  width: 60px;
}
.phone-area-input span {
  right: 6px !important;
}

.phone-number-input {
  width: 160px;
}

.page2-bottom-button-container {
  margin-top: 40px;
}

.page2-continue-button {
  margin-left: 16px;
}
.page2-email-input input {
  height: 38px;
}
